.card {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.img {}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number {
    font-family: 'skifer';
}

.title {}


@media (min-width: 1024px) {
    .card {
        border-radius: 50px;
        width: 462px;
        height: 208px;
    }

    .img {
        width: 199px;
        height: 208px;
        border-radius: 50px;
    }

    .container {
        padding-inline: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .number {
        font-size: 32px;
    }

    .title {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .card {
        border-radius: 50px;
        width: 670px;
        height: 301px;
    }

    .img {
        width: 325px;
        height: 301px;
        border-radius: 50px;
    }

    .container {
        padding-inline: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .number {
        font-size: 36px;
    }

    .title {
        font-size: 24px;
    }

}

@media (min-width: 440px)   and (max-width: 1024px)  {
    
    .card {
        border-radius: 50px;
        width: 400px;
        height: 155px;
    }

    .img {
        width: 148px;
        height: 155px;
        border-radius: 50px;
    }

    .container {
        padding-inline: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .number {
        font-size: 20px;
    }

    .title {
        font-size: 15px;
    }
}