.sightList {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.sightItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid white;
}

.textSight {
    color: white;
}

.rateBox {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerColumn {
    display: flex;
    justify-content: space-between;
}

.img {

}

.textGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textRate {
    color: rgba(238, 238, 238, 1);
}

.centerIMG {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1024px) {
    
    .sightList {
        padding-top: 24px;
        max-height: 177px;
        margin-bottom: 24px;
    }

    .sightItem {
        padding-bottom: 24px;
        border-bottom: 4px solid white;
    }

    .textSight {
        font-size: 20px;
    }

    .rateBox {
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        padding-inline: 31px;
        border-radius: 30px;
        width: 88px;
        height: 32px;
    }

    .containerColumn {
        gap: 20px;
        width: 336px;
    }

    .img {
        border-radius: 25px;
    }

    .textRate {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {

    .sightList {
        padding-top: 24px;
        max-height: 177px;
        margin-bottom: 24px;
    }

    .sightItem {
        padding-bottom: 24px;
        border-bottom: 4px solid white;
    }

    .textSight {
        font-size: 20px;
    }

    .rateBox {
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        padding-inline: 31px;
        border-radius: 30px;
        width: 88px;
        height: 32px;
    }

    .containerColumn {
        gap: 20px;
        width: 336px;
    }

    .img {
        border-radius: 25px;
    }

    .textRate {
        font-size: 16px;
    }
}