.linkContainer{
    width: 212px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 34px;
    margin-bottom: 48px;
    align-items: center;
}

.linkItem{
    font-size: 23px;
    color: #eeeeee;
    cursor: pointer;
}

.linkItemActive{
    font-size: 25px;
    color: #eeeeeea2;
    cursor: pointer;
}

.forPoiner{
    cursor: pointer;
}

@media (min-width: 440px) {

}