.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (min-width: 1024px) {
    .container {
        width: 944px;
        gap: 20px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1360px;
        gap: 20px;
    }
}

@media (min-width: 440px)   and (max-width: 1024px)  {
    .container {
        width: 400px;
        gap: 24px;
    }
}