.infoContainer {
    position: relative;
    z-index: 0;
}

.customInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: end;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textInfo {
    color: white;
}


.img {
}

.textTitle {
    position: absolute;
    background-color: #403f4d;
}

.title {
    color: white;
}

.logo {
    font-family: 'skifer';
}

.containerBottom {}


@media (min-width: 1024px) {

    .container{
        width: 944px;
    }

    .customInfo {
        gap: 12px;
    }

    .containerText {
        width: 440px;
        height: 357px;
    }

    .textInfo {
        font-size: 20px;
    }


    .img {
        width: 462px;
        height: 444px;
        border-radius: 50px;
    }

    .textTitle {
        padding-right: 15px;
        padding-bottom: 64px;
        border-bottom-right-radius: 50px;
    }

    .title {
        font-size: 40px;
    }
}

@media (min-width: 1440px) {

    .container{
        width: 1360px;
    }

    .customInfo {
        gap: 135px;
    }

    .containerText {
        width: 440px;
        height: 552px;
    }

    .textInfo {
        font-size: 24px;
    }


    .img {
        width: 785px;
        height: 691px;
        border-radius: 50px;
    }

    .textTitle {
        padding-right: 15px;
        padding-bottom: 64px;
        border-bottom-right-radius: 50px;
    }

    .title {
        font-size: 64px;
    }

}