.title {
    color: white;
}

.logo {
    font-family: 'skifer';
    color: white;
}

.container {

}


@media (min-width: 1024px) {
    .title {
        font-size: 40px;
        font-weight: 500;
        padding-bottom: 48px;
    }

    .logo {
        font-size: 40px;
    }

    .container {
        margin-top: 94px;
        width: 944px;
    }
}

@media (min-width: 1440px) {
    .title {
        font-size: 64px;
        font-weight: 500;
        padding-bottom: 64px;
    }

    .logo {
        font-size: 64px;
    }

    .container {
        margin-top: 104px;
        width: 1360px;
    }
}

@media (min-width: 440px)  and (max-width: 1024px) {
    .title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 64px;
    }

    .logo {
        font-size: 20px;
    }

    .container {
        margin-top: 56px;
        width: 400px;
    }

}