.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .main{
        width: 1024px;
    }
}

@media (min-width: 1440px) {

    .main{
        width: 1440px;
    }

}