.title {
    color: white;
}

.profession {
    color: white
}

.name {
    border: 1px solid white;
    color: white
}

.containerCreator {
    display: flex;
    flex-direction: column;
}

.footerTop {}

.containerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {}

.itemCreateor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policies {
    color: white;
}

.footerButtom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

@media (min-width: 1024px) {
    .title {
        font-size: 40px;
        padding-bottom: 40px;
    }

    .profession {
        font-size: 26px;
    }

    .name {
        height: 40px;
        border-radius: 30px;
        padding: 10px;
        font-size: 20px;
    }

    .containerCreator {
        width: 331px;
        height: 218px;
        gap: 40px;
    }

    .footerTop {
        width: 944px;
        padding-top: 104px;
        padding-bottom: 46px;
    }

    .img {
        width: 473px;
        height: 218px;
        border-radius: 30px;
    }

    .policies {
        font-size: 20px;
    }

    .footerButtom {
        width: 100%;
        padding-top: 9.5px;
        padding-bottom: 9.5px;
    }

}

@media (min-width: 1440px) {
    .title {
        font-size: 69px;
        padding-bottom: 64px;
    }

    .profession {
        font-size: 26px;
    }

    .name {
        height: 40px;
        border-radius: 30px;
        padding: 10px;
        font-size: 26px;
    }

    .containerCreator {
        width: 440px;
        height: 218px;
        gap: 40px;
    }

    .footerTop {
        width: 1360px;
        padding-top: 104px;
        padding-bottom: 46px;
    }

    .img {
        width: 785px;
        height: 218px;
        border-radius: 30px;
        margin-left: 135px;
    }

    .policies {
        font-size: 20px;
    }

    .footerButtom {
        width: 100%;
        padding-top: 9.5px;
        padding-bottom: 9.5px;
    }
}