@font-face {
  font-family: 'Hibana';
  src: url('./assets/fonts/Hibana-SubMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Skifer';
  src: url('./assets/fonts/MV-SKIFER.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #403f4d;
  font-family: 'Hibana', sans-serif;
}