.banner {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerSM {
    position: relative;
}

.imgBlock {}

.imgBlockSM {}

.img {
    display: flex;
    justify-content: center;
}

.imgSM {}

.title {
    color: white;
    font-family: 'Hibana';
}


.description {
    color: white;
    font-family: 'Hibana';
}

.button {}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.containerSM {
    position: absolute;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .banner {
        width: 944px;
        height: 680px;
    }

    .bannerSM {
        width: 944px;
        height: 335px;
    }

    .imgBlock {
        width: 944px;
        height: 680px;
    }

    .imgBlockSM {
        width: 944px;
        height: 335px;
    }

    .img {
        width: 944px;
        height: 680px;
        border-radius: 50px;
    }

    .imgSM {
        width: 944px;
        height: 335px;
        border-radius: 50px;
    }

    .title {
        font-size: 40px;
        margin-top: 24px;
        font-weight: 500;
    }


    .description {
        font-size: 24px;
        margin-top: 24px;
    }

    .button {
        margin-top: 24px;
    }

    .container {
        width: 864px;
        height: 138px;
        bottom: 200px;
        left: 40px;
    }

    .containerSM {
        width: 864px;
        height: 138px;
        bottom: 250px;
        top: 40%;
        left: 25%;
    }
}

@media (min-width: 1440px) {
    .banner {
        width: 1360px;
        height: 944px;
    }

    .bannerSM {
        width: 1360px;
        height: 447px;
    }

    .imgBlock {
        width: 1360px;
        height: 944px;
    }

    .imgBlockSM {
        width: 1360px;
        height: 447px;
    }

    .img {
        width: 1360px;
        height: 944px;
        border-radius: 50px;
    }

    .imgSM {
        width: 1360px;
        height: 447px;
        border-radius: 50px;
    }

    .title {
        font-size: 64px;
        margin-top: 24px;
        font-weight: 500;
    }


    .description {
        font-size: 24px;
        margin-top: 24px;
    }

    .button {
        margin-top: 24px;
    }

    .container {
        width: 1238px;
        height: 138px;
        bottom: 350px;
        left: 40px;
    }

    .containerSM {
        width: 1238px;
        height: 138px;
        bottom: 250px;
        top: 40%;
        left: 20%;
    }

}

@media (min-width: 440px)  and (max-width: 1024px) {
    .banner {
        width: 400px;
        height: 136;
    }

    .bannerSM {
        width: 400px;
        height: 136;
    }

    .imgBlock {
        width: 400px;
        height: 136;
    }

    .imgBlockSM {
        width: 400px;
        height: 136;
    }

    .img {
        width: 400px;
        height: 136;
        border-radius: 50px;
    }

    .imgSM {
        width: 400px;
        height: 136;
        border-radius: 50px;
    }

    .title {
        font-size: 20px;
        margin-top: 24px;
        font-weight: 500;
    }


    .description {
        z-index: -20;
        font-size: 0px;
    }

    .button {
        margin-top: 24px;

    }

    .container {
        width: 300px;
        height: 138px;
        bottom: 70px;
        left: 40px;
    }

    .containerSM {
        width: 400px;
        height: 138px;
        bottom: 250px;
        top: 30%;
        left: 20%;
    }


}